@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pokemonSolid;
  src: url("/fonts/Pokemon-Solid.ttf");
}

@font-face {
  font-family: pokemonHollow;
  src: url("/fonts/Pokemon-Hollow.ttf");
}

.font-pokemon-solid {
  font-family: pokemonSolid;
}

.font-pokemon-hollow {
  font-family: pokemonHollow;
}
body {
  background-color: rgba(229, 231, 235, 1);
}

@responsive {
  .grow {
    transition: all 0.2s ease-in-out;
  }
  .grow:hover {
    transform: scale(1.1);
  }
}
